---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0
AlignAfterOpenBracket: DontAlign
SortIncludes: false
AllowShortCaseLabelsOnASingleLine: true
---
Language: ObjC
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0
AlignAfterOpenBracket: DontAlign
SortIncludes: false
AllowShortCaseLabelsOnASingleLine: true